apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: app
          image: registry.digitalocean.com/YOUR_REGISTRY/python-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: APP_ENV
              value: "prod"
